# Name: Dots in Nucleus
# Author: phm
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>CIRB>DeThe, "PML in Live Cell Nucleus", PML_LiveCells
Plugins>CIRB>DeThe, "PML in Fixed Cell Nucleus", PML_FixedCells
Plugins>CIRB>DeThe, "PML in Spinning/Confocal Nucleus", PML_Spinning_Confocal
Plugins>CIRB>DeThe, "PML in ES NPM1C Nucleus", PML_ES_NPM1C
Plugins>CIRB>DeThe, "PML in Nucleus and DNA damage", PML_DNA
